@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

li.nav-item {
  list-style: none;
}

a.nav-link,
a.nav-logo {
  text-decoration: none;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navbar {
  background-color: white !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffc3c3;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.4rem;
  font-weight: semibold;
  color: #ff5d5d;
}

.nav-link:hover {
  color: #ff8c8c;
}

.nav-logo {
  font-size: 1.7rem;
  font-weight: 500;
  color: #f47c7c;
}

.section-divider {
  padding: 40px;
  background-color: #ff8080;
  color: white;
}

.sponsors {
  display: flex;
  flex-content: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.brand-mark {
  color: #ef9f9f;
  font-weight: bold;
}

.brand-color {
  color: #f47c7c;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  margin-left: 1rem;
}

.text-xl {
  font-size: 2.5rem;
}

.text-l {
  font-size: 1.1rem;
}

.img-responsive {
  margin-top: 2.5rem;
  max-width: 20rem;
  border-radius: 10px;
}

.subcribe-form {
  display: block;
}

.mt-1 {
  margin-top: 1.1rem;
}

.mb-1 {
  margin-bottom: 1.1rem;
}

.ml-1 {
  margin-left: 0.7rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mr-1 {
  margin-right: 1.1rem;
}

.m-1 {
  margin: 1rem;
}

.section {
  padding: 3rem 1rem;
}

.mx-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.subcribe-label {
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  margin-left: 0.2rem;
}

.subcribe-form label {
  margin-bottom: 0.5rem;
}

input {
  margin-top: 0.5rem;
  border-radius: 10px;
  background-color: #f5f5f5;
  border: none;
  padding: 0.6rem 0.7rem;
  font-size: 0.9rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #808080;
}

input[type="submit"] {
  cursor: pointer;
}

input:focus {
  border-color: rgba(252, 98, 132);
  box-shadow: 0 1px 1px rgba(252, 98, 132, 0.075) inset,
    0 0 8px rgba(252, 98, 132, 0.8);
  outline: 0 none;
}

.text-md {
  font-size: 1.2rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
  margin-top: 5rem;
}

.card {
  padding: 1.2rem;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.card:hover {
  transform: scale(1.05);
}

.text-sm {
  font-size: 1rem;
}

.money {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ff5d5d;
}

.opening-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff8c8c;
}

.button {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #ff5d5d;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}

.button:hover {
  background-color: #ff8c8c;
}

.top-sale {
  border-radius: 20px;
  background-color: #ff5d5d;
  color: white;
}

.sponsor-img {
  max-width: 5.5rem;
}

footer {
  margin-top: 3rem;
  background-color: #ff6b6b;
  color: white;
}

.box {
  padding: 2rem;
}

.contact-link {
  text-decoration: none;
  color: white;
}

.contact-link:hover {
  text-decoration: underline;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  margin: 0.4rem;
  background-color: transparent;
  box-shadow: none;
  color: white;
  border-bottom: 1px solid #eeeeee;
  border-radius: 0px;
}

.form-input::placeholder {
  color: white;
}

.form-input:focus {
  box-shadow: none;
  border-bottom: 2px solid #eeeeee;
}

.profile-img {
  margin-top: 1.2rem;
  border-radius: 10px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1s;
  max-width: 20rem;
}

.profile-img:hover {
  transform: scale(1.05) rotate(3deg);
}

@media only screen and (min-width: 768px) {
  .welcome {
    flex-direction: row;
  }

  .text-xl {
    font-weight: 200;
    font-size: 4rem;
  }

  .text-l {
    font-weight: 250;
    font-size: 2rem;
  }

  .img-responsive {
    margin-top: 0;
    max-width: 50rem;
    border-radius: 20px;
    margin-left: 3rem;
  }

  input {
    margin-top: 0;
    border-radius: 20px;
    background-color: #f5f5f5;
    border: none;
    padding: 0.6rem 0.7rem;
    font-size: 1.2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-weight: 300;
  }
  .subcribe-label {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
    margin-left: 0.2rem;
    font-size: 1.2rem;
    font-weight: 300;
  }

  .top-package {
    transform: scale(1.2);
  }

  .top-package:hover {
    transform: scale(1.3);
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .profile-img {
    max-width: 10rem;
  }
}
